/node_modules/
/npm-debug.log
/src/
/out/
/tmp/
/html/
/docs/
/scripts/
/tutorials/
/.vscode/
jest.config.js
.prettierignore
.prettierrc
.npmrc
.babelrc
.travis.yml
.esdoc.json
.eslintrc.json
.gitignore
.DS_Store
Thumbs.db
*.bak
tsconfig.json
jsconfig.json
